$font: "Open Sans";
$contSize: calc((100% - 800px)/2);
* {
  // font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Roboto";
  }

  .contacts_pane{
    transition-duration: 1s;
    display: flex;
    position: fixed;
    
    margin: auto 0;
   // background-image: url(/assets/decor/rainbow.jpg);
   background-color: rgb(0, 0, 0);
    //background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    
    transition-duration: 1s;
    //right: 250px;
   // padding: 7px;

   .left_cont{
width: $contSize;
margin-left: 100px;
display: inline-block;
// border-left: 1px solid white;
// border-right: 1px solid white;

    background-color: rgba(125, 151, 30, 0);
}

.cont{
    width: 90%;
    height: 50px;
    display: flex;

    img{
        width: 50px;
        height: 50px;
        transition-duration: .7s;
        &:hover{
transform: rotateY(180deg);

        }
            }
            
    p{
        text-indent: 7px;
        width: 80%;
        max-height: 32px;
        font-size: 20px;
      //  border-bottom: 1px solid white;
        font-family: $font;
        top: 20px;
    position: relative;
        color: white;
        border-bottom: 1px solid white;
    }
    
    
    margin: 0 auto;
    margin-top: 100px;
   // margin-botto0m: 15px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    }


.logos{
    margin: 70px auto;
    width: 90%;
    height: 400px;

display: table;
    .line{
        display: flex;
width: 100%;
height: 100px;
        img{
            width: 100px;
            height: 100px;
margin: auto auto;

transition-duration: 1s;
            background-color: rgba(194, 39, 39, 0);
            &:hover{
                width: 70px;
                height: 70px;


            }
        }
        background-color: rgba(86, 39, 194, 0);
    }

    background-color: rgba(160, 194, 39, 0);

}


.d_cont{
width: 600px;
//display: inline-block;


.DDD{
    margin: auto auto;
    background-color: rgba(255, 100, 177, 0);
width: 95%;
height: 95%;
video{
    user-select: none;
transition-duration: .5s;

}

}

    background-color: rgba(151, 30, 91, 0);
}


.right_cont{
width: $contSize;
display: inline-block;
// border-left: 1px solid white;
// border-right: 1px solid white;


    background-color: rgba(30, 103, 151, 0);
}

  }