$font: "Open Sans";
$contSize: calc((100% - 800px)/2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.contacts_pane {
    transition-duration: 1s;
    display: flex;
    position: fixed;

    margin: auto 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    transition-duration: 1s;

    .left_cont {
        width: $contSize;
        margin-left: 100px;
        display: inline-block;
        position: relative;
        z-index: 2;
        background-color: rgba(125, 151, 30, 0);
    }

    .cont {
        width: 90%;
        height: 5%;
        display: flex;
//background-color: rgb(255, 255, 255);


        img {
            width: 10%;
            height: 100%;
            transition-duration: .7s;
color: rgb(0, 0, 0);
//background-color: rgb(0, 0, 0);
            &:hover {
                transform: rotateY(180deg);

            }
        }

        p {
          
transition-duration: .6s;
box-shadow: 0px 5px 15px 2px rgba(255, 179, 57, 0.5);
            background: linear-gradient(45deg, rgba(36,0,0,0) 0%, rgb(156, 7, 255) 0%, rgb(255, 111, 0) 100%);
           line-height: 250%;
            border-radius: 15px;
background-color: rgb(255, 255, 255);
margin-left: 1%;
margin-right: 1%;
margin: 0 auto;
            font-weight: 600;
            text-align: center;
            text-indent: 15px;
            width: 70%;
            max-height: 100%;
            font-size: 20px;
            font-family: $font;
            top: 20px;
            position: relative;
            color: rgb(255, 255, 255);
        //    border-bottom: 1px solid white;
        &:hover{
            box-shadow: 0px 5px 15px 2px rgb(255, 179, 57);
          
        }
        }

        margin: 0 auto;
        margin-top: 60px;
    //    border-bottom: 1px solid white;
    }

    .info_cont {
        margin: 0 auto;
        margin-top: 10px;
        width: 90%;
        height: 200px;
        font-family: $font;
        color: white;
    }

    .logos {

        margin: 0 auto;
        margin-top: 70px;
        width: 90%;
        height: 200px;
        display: table;

        .line {
            display: flex;
            width: 100%;
            height: 100px;

            img {
                width: 100px;
                height: 100px;
                margin: auto auto;
                transition-duration: 1s;
                background-color: rgba(194, 39, 39, 0);

                &:hover {
                    width: 70px;
                    height: 70px;


                }
            }

            background-color: rgba(86, 39, 194, 0);
        }

        background-color: rgba(160, 194, 39, 0);

    }


    .d_cont {
        width: 600px;
        position: relative;
        z-index: 2;

        .DDD {
            margin: auto auto;
            background-color: rgba(190, 0, 95, 0);
            width: 95%;
            height: 100%;
        }

        background-color: rgba(151, 30, 91, 0);
    }


    .right_cont {
        position: relative;
        z-index: 2;
        width: $contSize;
        display: inline-block;
        background-color: rgba(30, 103, 151, 0);
    }

}

video {

    transition-duration: .5s;
    user-select: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

