@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
.gal_pane {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-image: url("../assets/decor/gal_bacimg1.jpeg");
  background-attachment: fixed;
  z-index: 11;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.wind_main {
  position: fixed;
  padding-left: 15px;
  font-family: "Open Sans";
  margin-left: auto;
  margin-right: 40px;
  left: 100px;
  width: 24%;
  height: 90vh;
  z-index: 14;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_category {
  padding-top: 7px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.wind_main .wind_category p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  max-width: 100%;
  letter-spacing: 5px;
  color: black;
  -webkit-box-shadow: -6px 6px #ffffff;
          box-shadow: -6px 6px #ffffff;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  background-image: url("../assets/decor/gal_bacimg1.jpeg");
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 0 #000000;
          box-shadow: 0px 0px 0 #000000;
}

.wind_main .wind_category p:hover {
  max-width: 98%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transform: translate3d(5px, -5px, 0);
          transform: translate3d(5px, -5px, 0);
  text-decoration: none;
  -webkit-box-shadow: -6px 6px 0 #d23434;
          box-shadow: -6px 6px 0 #d23434;
  background-color: white;
}

.gallery {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  height: 100vh;
  width: 65%;
  right: 0;
  padding-top: 1%;
  background-image: url("../assets/decor/gal_img.png");
}

.gallery .wind_gal {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.gallery .wind_gal .gal_view {
  height: 64%;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.gallery .wind_gal .gal_view .watch_photo {
  height: 93%;
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .wind_gal .gal_view .watch_photo img {
  border-radius: 50px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
  border: 5px solid #d23434;
  margin-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.gallery .wind_gal .gal_view video {
  -webkit-box-shadow: 0px 5px 15px 2px black;
          box-shadow: 0px 5px 15px 2px black;
  position: absolute;
  border-radius: 50px;
  width: 90%;
  height: auto;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  left: 5%;
  right: 5%;
}

.gallery .wind_gal .prev_block {
  margin-top: 30px;
  height: 36%;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.gallery .wind_gal .prev_block .preview_gal {
  border-radius: 30px;
  background-color: white;
  margin-top: 20px;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 15px 2px black;
          box-shadow: 0px 5px 15px 2px black;
}

.gallery .wind_gal .prev_block .preview_gal img {
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  margin: auto auto;
  width: 18%;
  height: 80%;
  border-radius: 20px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.gallery .wind_gal .prev_block .preview_gal img:hover {
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
}

.gallery .wind_gal .prev_block .preview_gal_top {
  border-radius: 30px;
  background-color: white;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 15px 2px black;
          box-shadow: 0px 5px 15px 2px black;
}

.gallery .wind_gal .prev_block .preview_gal_top img {
  border-radius: 20px;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  margin: auto auto;
  width: 18%;
  height: 80%;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.gallery .wind_gal .prev_block .preview_gal_top img:hover {
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
}
/*# sourceMappingURL=gallery.css.map */