@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
$font: "Open Sans";
$back: url("../assets/decor/gal_bacimg1.jpeg");

html{
  overflow: hidden;
}

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.load_pane {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/videos/loading.gif");
  background-attachment: local;
  background-repeat: no-repeat;
  background-position-x: calc(50vw - 400px);
  background-position-y: calc(50vh - 225px);
  background-color: rgb(0, 0, 0);
  z-index: 100;
  transition-duration: .8s;

}

.TopTitle{

width: 85%;
height: 25%;
position: fixed;
background-color: rgba(49, 49, 49, 0);
text-shadow: 5px 0px 8px rgb(15, 219, 255);
margin-top: 5px;
z-index: 11;
font-family: $font;
font-size: 6.5em;
text-indent: 100px;
line-height: 100%;
color: rgb(15, 219, 255);
//clip-path: polygon(100% 0, 78% 84%, 65% 95%, 0% 0);
left: 0px;


transition: ease-in-out 1.2s;

}



.Title {
  z-index: 12;
  user-select: none;
  //width: 65%;
 // height: 500px;
  position: absolute;
  top: 130px;
  left: 130px;
  z-index: 9;
  //font-size: 170px;
  //background-color: rgba(160, 33, 33, 0.685);
  color: white;
  text-shadow: -30px 40px rgba(75, 75, 75, 0.061);
  transition: all 1.2s ease;

  .com {
    user-select: none;
    position: relative;
//z-index: 9;
    transition: all 1.2s ease;
 //   font-size: 190px;
    color: rgb(45, 148, 42);

  }

}

.menu_block {

  margin-top: 7px;
  transition-duration: 4s;
  transform: translateX(-140px);
  
  position: fixed;
  display: table-cell;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  z-index: 10;

  .menu_logo {
    background-color: rgba(0, 204, 255, 0);
    width: 95px;
    height: 95px;
   
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 13px;
    z-index: 10;
    border: none;
    transition-duration: 0.7s;
    display: flex;
    transition-duration: 0.7s;

    img {
      transform: scale(1.1);
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

  .menu_element {
    transform: translateZ(-140px);
    background-color: rgba(0, 204, 255, 0);
    width: 94px;
    height: 80px;
    margin-bottom: 10px;
    z-index: 10;
    border-radius: 100%;
    transition-duration: 1s;
    display: flex;
    margin: auto auto;

    p {
      text-align: center;
      width: 80%;
      background-color: rgba(128, 128, 128, 0);
      margin: auto auto;
      user-select: none;
      font-family: "Open Sans";
      color: rgb(255, 255, 255);
      
      font-size: 20px;
    }


    &:hover {

      p {
        color: rgba(0, 0, 0, 0);
      }
      transition-duration: 2s;
      animation: shadow 2s infinite alternate;

    }

    p.mouseMoveOn {
      font-size: 17px;

    }

    p.mouseEnter {
      background-color: red;
      color: black;
    }
  }
}

@keyframes shadow {
  from {
    text-shadow: 0 0px 5px rgb(255, 255, 255);
  }

  to {
    text-shadow: 0 0px 1px rgb(255, 255, 255);
  }
}

body {
 
  overflow: hidden;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.vid_block {
  display: flex;
  transition-duration: .8s;

  video {
    user-select: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition-duration: .8s;
  }
}


.btn_present{

  display: inline-block;
  position: fixed;
  width: 75px;
  height: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;

text-align: center;
  background-color: white;
  line-height: 95px;
  transition: all ease .3s;
  font-family: $font;
 font-size: 60px;
user-select: none;
background: rgb(36,0,0);
opacity: .7;
background: linear-gradient(90deg, rgba(82, 82, 82, 0) 0%, rgba(54, 54, 54, 0.63) 0%, rgb(20, 20, 20) 100%);
color: white;
right: -40px;
padding-top: 22%;
//top: 40%;

  &:hover{

    background: linear-gradient(90deg, rgba(36,0,0,0) 0%, rgba(111, 29, 218, 0.431) 0%, rgba(0,212,255,1) 100%);
    right: 0px;
   // top: 39.5%;
    opacity: .9;
  //  width: 107px;
   // height: 107px;
   // border-radius: 100px;
    line-height: 106px;
    font-size: 80px;

  }

}