@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.wind_main {
  position: fixed;
  padding-left: 15px;
  font-family: "Open Sans";
  margin-top: 10px;
  margin-left: auto;
  margin-right: 40px;
  top: 0;
  left: 50;
  right: 0;
  width: 90%;
  height: 900px;
  border-radius: 30px;
  z-index: 4;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_category {
  width: 25%;
  display: inline;
}

.wind_main .wind_category p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  max-width: 100%;
  border-bottom: 1px solid black;
  letter-spacing: 13px;
  color: black;
  font-size: 80px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.wind_main .wind_category p:hover {
  background-color: gray;
}

.wind_main .wind_gal {
  width: 75%;
}

.menu_block {
  margin-top: 20px;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transform: translateX(-140px);
          transform: translateX(-140px);
  margin-left: 10px;
  position: fixed;
  display: table-cell;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  width: 6%;
  z-index: 2;
}

.menu_block .menu_logo {
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
  z-index: 10;
  border: none;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition-duration: 0.7s;
}

.menu_block .menu_logo img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  height: 100%;
  width: 100%;
}

.menu_block .menu_logo:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu_block .menu_element {
  -webkit-transform: translateZ(-140px);
          transform: translateZ(-140px);
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  z-index: 10;
  border-radius: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_block .menu_element p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Open Sans";
  color: white;
  margin: auto;
  font-size: 20px;
}

.menu_block .menu_element:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-animation: shadow 2s infinite alternate;
          animation: shadow 2s infinite alternate;
}

.menu_block .menu_element:hover p {
  color: rgba(0, 0, 0, 0);
}

.menu_block .menu_element p.mouseMoveOn {
  font-size: 17px;
}

.menu_block .menu_element p.mouseEnter {
  background-color: red;
  color: black;
}

@-webkit-keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
    -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0), inset 0 0 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0), inset 0 0 0px 0px rgba(0, 0, 0, 0);
  }
  to {
    text-shadow: 0 0px 1px white;
    -webkit-box-shadow: 0 0 6px 3px #00d6ff, inset 0 0 6px 3px #00d6ff;
            box-shadow: 0 0 6px 3px #00d6ff, inset 0 0 6px 3px #00d6ff;
  }
}

@keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
    -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0), inset 0 0 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0), inset 0 0 0px 0px rgba(0, 0, 0, 0);
  }
  to {
    text-shadow: 0 0px 1px white;
    -webkit-box-shadow: 0 0 6px 3px #00d6ff, inset 0 0 6px 3px #00d6ff;
            box-shadow: 0 0 6px 3px #00d6ff, inset 0 0 6px 3px #00d6ff;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.vid_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.vid_block video {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */