@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.load_pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../assets/videos/loading.gif");
  background-attachment: local;
  background-repeat: no-repeat;
  background-position-x: calc(50vw - 400px);
  background-position-y: calc(50vh - 225px);
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.TopTitle {
  width: 85%;
  height: 25%;
  position: absolute;
  background-color: rgba(49, 49, 49, 0.984);
  text-shadow: 5px 0px 8px #0fdbff;
  background-image: url("../assets/decor/main_img.jpg");
  z-index: 11;
  font-size: 130px;
  text-indent: 30%;
  line-height: 88%;
  color: #0fdbff;
  -webkit-clip-path: polygon(100% 0, 78% 84%, 65% 95%, 0% 0);
          clip-path: polygon(100% 0, 78% 84%, 65% 95%, 0% 0);
  left: 0px;
}

.TopTitle .TopImg {
  width: 25%;
  height: 90%;
  position: absolute;
  left: 55%;
  top: 0%;
  background-color: #2d942a;
}

.Title {
  z-index: 12;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 15%;
  left: 130px;
  z-index: 9;
  color: white;
  text-shadow: -30px 40px rgba(75, 75, 75, 0.061);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.Title .com {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 9;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  font-size: 190px;
  color: #2d942a;
}

.menu_block {
  margin-top: 20px;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transform: translateX(-140px);
          transform: translateX(-140px);
  margin-left: 10px;
  position: fixed;
  display: table-cell;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  width: 6%;
  z-index: 10;
}

.menu_block .menu_logo {
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
  z-index: 10;
  border: none;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition-duration: 0.7s;
}

.menu_block .menu_logo img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  height: 100%;
  width: 100%;
}

.menu_block .menu_logo:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu_block .menu_element {
  -webkit-transform: translateZ(-140px);
          transform: translateZ(-140px);
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  z-index: 10;
  border-radius: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_block .menu_element p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Open Sans";
  color: white;
  margin: auto;
  font-size: 20px;
}

.menu_block .menu_element:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-animation: shadow 2s infinite alternate;
          animation: shadow 2s infinite alternate;
}

.menu_block .menu_element:hover p {
  color: rgba(0, 0, 0, 0);
}

.menu_block .menu_element p.mouseMoveOn {
  font-size: 17px;
}

.menu_block .menu_element p.mouseEnter {
  background-color: red;
  color: black;
}

@-webkit-keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
  }
  to {
    text-shadow: 0 0px 1px white;
  }
}

@keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
  }
  to {
    text-shadow: 0 0px 1px white;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.vid_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.vid_block video {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.btn_present {
  display: inline-block;
  position: fixed;
  width: 75px;
  height: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  text-align: center;
  background-color: white;
  line-height: 95px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  font-family: "Open Sans";
  font-size: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #240000;
  opacity: .7;
  background: -webkit-gradient(linear, left top, right top, from(rgba(82, 82, 82, 0)), color-stop(0%, rgba(54, 54, 54, 0.63)), to(#141414));
  background: linear-gradient(90deg, rgba(82, 82, 82, 0) 0%, rgba(54, 54, 54, 0.63) 0%, #141414 100%);
  color: white;
  right: -40px;
  padding-top: 22%;
}

.btn_present:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(36, 0, 0, 0)), color-stop(0%, rgba(111, 29, 218, 0.431)), to(#00d4ff));
  background: linear-gradient(90deg, rgba(36, 0, 0, 0) 0%, rgba(111, 29, 218, 0.431) 0%, #00d4ff 100%);
  right: 0px;
  opacity: .9;
  line-height: 106px;
  font-size: 80px;
}
/*# sourceMappingURL=index.css.map */