@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.gal_pane {
  position: absolute;
  width: 90vw;
  height: 90vh;
  background-image: url("../assets/decor/gal_bacimg1.jpeg");
  background-attachment: fixed;
  background-color: white;
  z-index: 11;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.Title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 70%;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 130px;
  z-index: 9;
  font-size: 170px;
  color: white;
  text-shadow: -30px 40px rgba(75, 75, 75, 0.061);
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.Title .com {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 9;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
  font-size: 190px;
  color: #2d942a;
}

.wind_main {
  position: fixed;
  padding-left: 15px;
  font-family: "Open Sans";
  margin-top: 30px;
  margin-left: auto;
  margin-right: 40px;
  left: 50;
  right: 0;
  width: 90%;
  height: 90vh;
  border-radius: 30px;
  z-index: 14;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_category {
  width: 30%;
  display: inline;
  margin-top: 10px;
}

.wind_main .wind_category p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  max-width: 100%;
  letter-spacing: 13px;
  color: black;
  font-size: 77px;
  -webkit-box-shadow: -6px 6px #ffffff;
          box-shadow: -6px 6px #ffffff;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  background-image: url("../assets/decor/gal_bacimg1.jpeg");
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 0 #000000;
          box-shadow: 0px 0px 0 #000000;
}

.wind_main .wind_category p:hover {
  max-width: 98%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transform: translate3d(5px, -5px, 0);
          transform: translate3d(5px, -5px, 0);
  text-decoration: none;
  -webkit-box-shadow: -6px 6px 0 #d23434;
          box-shadow: -6px 6px 0 #d23434;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background-color: white;
}

.wind_main .wind_gal {
  width: 65%;
  margin: 0 auto;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.wind_main .wind_gal .gal_view {
  height: 70%;
  width: 100%;
  position: relative;
}

.wind_main .wind_gal .gal_view .watch_photo {
  height: 93%;
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_gal .gal_view .watch_photo img {
  border-radius: 50px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0% 75%);
  border: 5px solid #d23434;
  margin-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.wind_main .wind_gal .gal_view .preview_gal {
  border-radius: 30px;
  border: 3px dashed #d23434;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_gal .gal_view .preview_gal img {
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  margin: auto auto;
  width: 18%;
  height: 80%;
  border-radius: 20px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.wind_main .wind_gal .gal_view .preview_gal img:hover {
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
}

.wind_main .wind_gal .gal_view .preview_gal_top {
  border-radius: 30px;
  border: 3px dashed #d23434;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind_main .wind_gal .gal_view .preview_gal_top img {
  border-radius: 20px;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  margin: auto auto;
  width: 18%;
  height: 80%;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.wind_main .wind_gal .gal_view .preview_gal_top img:hover {
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
}

.platform_gal {
  padding: 3px;
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.menu_block {
  margin-top: 20px;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-transform: translateX(-140px);
          transform: translateX(-140px);
  margin-left: 10px;
  position: fixed;
  display: table-cell;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  width: 6%;
  z-index: 10;
}

.menu_block .menu_logo {
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 13px;
  z-index: 10;
  border: none;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition-duration: 0.7s;
}

.menu_block .menu_logo img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  height: 100%;
  width: 100%;
}

.menu_block .menu_logo:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu_block .menu_element {
  -webkit-transform: translateZ(-140px);
          transform: translateZ(-140px);
  background-color: rgba(0, 204, 255, 0);
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  z-index: 10;
  border-radius: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_block .menu_element p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Open Sans";
  color: white;
  margin: auto;
  font-size: 20px;
}

.menu_block .menu_element:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-animation: shadow 2s infinite alternate;
          animation: shadow 2s infinite alternate;
}

.menu_block .menu_element:hover p {
  color: rgba(0, 0, 0, 0);
}

.menu_block .menu_element p.mouseMoveOn {
  font-size: 17px;
}

.menu_block .menu_element p.mouseEnter {
  background-color: red;
  color: black;
}

@-webkit-keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
  }
  to {
    text-shadow: 0 0px 1px white;
  }
}

@keyframes shadow {
  from {
    text-shadow: 0 0px 5px white;
  }
  to {
    text-shadow: 0 0px 1px white;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.vid_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.vid_block video {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}
/*# sourceMappingURL=index.css.map */