@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto";
}

.load_pane{
display: flex;
position: fixed;
top: 0;
left: 0;
background-color: rgb(255, 166, 0);
width: 100vw;
height: 100vh;
z-index: 100;




}