@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.skills_pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  opacity: 1;
  margin: auto 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.skills_pane p {
  position: fixed;
  width: 78%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 80px;
  color: white;
  font-family: "Open Sans";
  letter-spacing: 8px;
  background-color: black;
}

.skills_pane .line_of_skills {
  margin-left: 110px;
  width: 80vw;
  height: 100%;
  background-color: rgba(0, 160, 93, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills_pane .line_of_skills .skill {
  margin: 110px auto;
  width: 25vw;
  height: 85%;
  background-color: rgba(92, 92, 92, 0.136);
  display: inline-block;
  border-radius: 20px;
}

.skills_pane .line_of_skills .skill .photo_cat {
  background-color: #460096;
  width: 100%;
  height: 303px;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 40%, 0% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 40%, 0% 100%, 0% 70%);
}

.skills_pane .line_of_skills .skill .photo_cat p {
  position: relative;
  top: -80px;
  left: -40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 120px;
  color: white;
  font-family: "Open Sans";
  letter-spacing: 8px;
  line-height: .85em;
  text-shadow: 2px 7px #4b4b4b;
  font-weight: 1000;
  -webkit-text-decoration-color: yellowgreen;
          text-decoration-color: yellowgreen;
  text-align: center;
  -webkit-transform: rotateZ(-24deg);
          transform: rotateZ(-24deg);
  text-shadow: 0px 0px 0 #ebebeb, 1px 1px 0 #e2e2e2, 2px 2px 0 #d8d8d8, 3px 3px 0 #cecece, 4px 4px 0 #c5c5c5, 5px 5px 0 #bbbbbb, 6px 6px 0 #b1b1b1, 7px 7px 0 #a8a8a8, 8px 8px 0 #9e9e9e, 9px 9px 0 #949494, 10px 10px 9px rgba(0, 0, 0, 0.6), 10px 10px 1px rgba(0, 0, 0, 0.5), 0px 0px 9px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.skills_pane .line_of_skills .skill .photo_cat p:hover {
  -webkit-transform: translate3d(-70px, -40px, 0px);
          transform: translate3d(-70px, -40px, 0px);
}

.skills_pane .line_of_skills .skill .photo_cat p .show {
  background-color: orangered;
  color: orange;
}

.skills_pane .line_of_skills .skill .info_cat {
  height: 100px;
  width: 100%;
  background-color: #531bad;
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 70%);
          clip-path: polygon(0% 50%, 100% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 70%);
}

.skills_pane .line_of_skills .skill .info_cat .bar_progres {
  -webkit-box-shadow: 10px 10px 7px #230044;
          box-shadow: 10px 10px 7px #230044;
  height: 200px;
  background-color: #7926ff;
}

.skills_pane .line_of_skills .skill .info_cat h1 {
  letter-spacing: 0px;
  font-family: "Open Sans";
  line-height: 55px;
  position: relative;
  width: 350px;
  height: 10px;
  text-indent: 10px;
  left: -10px;
  -webkit-transform: rotateZ(-7deg);
          transform: rotateZ(-7deg);
  top: 25px;
  font-size: 40px;
  color: black;
}

.skills_pane .block_icons {
  background-color: black;
  margin: 0 auto;
  width: 15vw;
  height: 100%;
}

.skills_pane .block_icons .pattern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 110px;
}

.skills_pane .block_icons .pattern .percent {
  background-color: black;
  margin: auto auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.skills_pane .block_icons .pattern .percent h1 {
  text-align: center;
  color: white;
  font-size: 18px;
}
/*# sourceMappingURL=skills.css.map */