@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

$font: "Open Sans";
* {
  // font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Roboto";
  }


  .skills_pane{
      transition-duration: 1s;
    display: flex;
    position: fixed;
    
    margin: auto 0;
    background-image: url("../assets/decor/rainbow.jpg");
   background-color: rgb(255, 255, 255);
    //background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    
    transition-duration: 1s;
    //right: 250px;
   // padding: 7px;

    .p{
        position: fixed;
        width: 100%;
    user-select: none;
    font-size: 80px;
  //  color: rgb(255, 255, 255);
 //  color: rgb(0, 0, 0);
    font-family: "Open Sans";
    letter-spacing: 8px;
    //background-color: rgb(0, 0, 0);
display: table;
text-transform: uppercase;

background-image: linear-gradient(to right, rgb(255, 94, 0), rgb(181, 71, 255) 26%, rgb(176, 80, 255) 1%, rgb(255, 230, 0));
color: transparent;
-webkit-background-clip: text;
background-clip: text;
   

  }


  .line_of_skills{
      margin-left: 110px;
width: 80vw;
height: 100%;
background-color: rgba(0, 160, 93, 0);
display: flex;

.skill{
    margin: 110px auto;
    width: 25vw;
    height: 85%;
    //background-color: rgb(0, 182, 152);
    background-color: rgba(255, 0, 157, 0.37);
display: inline-block;
border-radius: 20px;
transition-duration: .9s;
//box-shadow: 5px 5px 10px gray;
    .photo_cat{
        
        background-color: rgba(51, 0, 109, 0.44);
        width: 100%;
    height: 303px;
        clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 40%, 0% 100%, 0% 70%);
     //   padding-right: 90px;
p{
   

    width: 100%;
user-select: none;

//  color: rgb(255, 255, 255);
//  color: rgb(0, 0, 0);
font-family: "Open Sans";
letter-spacing: 8px;
//background-color: rgb(0, 0, 0);

text-transform: uppercase;


    position: relative;
        top: -80px;
        left: -40px;
    user-select: none;
    font-size: 120px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    letter-spacing: 8px;

    line-height: .85em;
    text-shadow: 2px 7px rgb(75, 75, 75);
    font-weight: 1000;
   text-decoration-color: yellowgreen;
text-align: center;

transform: rotateZ(-24deg);
text-shadow:0px 0px 0 rgb(235,235,235),1px 1px 0 rgb(226,226,226),2px 2px 0 rgb(216,216,216),3px 3px 0 rgb(206,206,206),4px 4px 0 rgb(197,197,197),5px 5px 0 rgb(187,187,187),6px 6px 0 rgb(177,177,177),7px 7px 0 rgb(168,168,168),8px 8px 0 rgb(158,158,158), 9px 9px 0 rgb(148,148,148),10px 10px 9px rgba(0,0,0,0.6),10px 10px 1px rgba(0,0,0,0.5),0px 0px 9px rgba(0,0,0,.2);

transition-duration: 1s;
&:hover{

transform: translateX(-70px) translateY(30px)  rotateZ(-24deg);

}

.show{
background-color: orangered;
color: orange;
    
}

}



    }

    .info_cat{
      //margin-top: 5px;
height: 90px;
width: 100%;


//background-color: rgb(255, 255, 255);
background-color: rgb(83, 27, 173);
clip-path: polygon(0% 50%, 100% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 70%);
//transform: rotateZ(-24deg);
.bar_progres{
    box-shadow: 10px 10px 7px rgb(35, 0, 68);
    height: 200px; 
    background-color: rgb(121, 38, 255);


}
h1{
    letter-spacing: 0px;
    font-family: "Open Sans";
background-color: rgba(128, 128, 128, 0);
    line-height: 45px;
    position: relative;
    width: 350px; 
    height: 10px; 
    
    text-indent: 10px; 

    left: -10px; 
    //top: 20px;


    transform: rotateZ(-6deg);
    top: 25px;
   
    font-size: 40px;
color: rgb(255, 255, 255);


}

    }

}

  }

  .block_icons{
    background-color: rgba(0, 0, 0, 0);
      margin: 0 auto;
    width: 15vw;
    height: 100%;
    z-index: 2;

    .block_cat{

        display: inline-block;
        background-color: rgb(0, 0, 0);
        margin: 0 auto;
      width: 100%;
      height: 85%;
      border-bottom-left-radius: 20px;
    

p{
    position: relative;
    width: 100%;
      max-height: 10%;
    color: rgb(255, 255, 255);
    text-indent: 5px;
    word-wrap: break-word;
user-select: none;
font-size: 22px;
//  color: rgb(255, 255, 255);

font-family: "Open Sans";
letter-spacing: 4px;
//background-color: rgb(0, 0, 0);

transition-duration: .2s;
&:hover{
    color: rgb(140, 0, 255);
    background-color: rgb(32, 32, 32);
   // animation: shadow .6s infinite alternate;
}
}



    }

.top{
    margin-top: 10px;
width: 100%;
height: 100px;
background-color: rgb(0, 0, 0);
border-top-left-radius: 20px;
}
    .pattern{
display: flex;

        background-color: rgba(255, 255, 255, 0);
        margin: 0 auto;
      width: 100%;
      height: 110px;


      .percent{
          z-index: 7;
        background-color: rgb(0, 0, 0);
          margin: auto auto;
width: 45px;
height: 45px;
border-radius: 50%;
//padding: 35px;
h1{
    
  //  font-family: "Open Sans";
//text-indent: 40px;
   text-align: center;
color: rgb(255, 255, 255);
font-size: 18px;

}
      }

    }

  }


}

.description_skill{
  width: 80%;
  height: 400px;
  z-index: 0;
  position: fixed;
margin-left: 100px;
margin-top: 110px;
background-color: rgba(0, 0, 0, 0.718);


transition-duration: .9s;

display: flex;
.media{
margin: 10px 10px;
//background-color: red;
  width: 672px;
  height: 380px;

video{
  width: 672px;
  height: 380px;
z-index: 10;

}
}


.text{
  text-indent: 20px;
  font-size: 18px;
  font-family: $font;
  display: inline-block;
  position: relative;
  $textW: calc(100% - 692px);
  margin: 10px 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
 //extend width: 80%;
  width: calc(100% - 692px);
    height: 380px;


}

}
