@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.skills_pane {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: auto 0;
  background-image: url("../assets/decor/rainbow.jpg");
  background-color: white;
  width: 100vw;
  height: 100vh;
  transition-duration: 1s;
}

.skills_pane .p {
  position: fixed;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 80px;
  font-family: "Open Sans";
  letter-spacing: 8px;
  display: table;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff5e00), color-stop(26%, #b547ff), color-stop(1%, #b050ff), to(#ffe600));
  background-image: linear-gradient(to right, #ff5e00, #b547ff 26%, #b050ff 1%, #ffe600);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.skills_pane .line_of_skills {
  margin-left: 110px;
  width: 80vw;
  height: 100%;
  background-color: rgba(0, 160, 93, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills_pane .line_of_skills .skill {
  margin: 110px auto;
  width: 25vw;
  height: 85%;
  background-color: rgba(255, 0, 157, 0.37);
  display: inline-block;
  border-radius: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.skills_pane .line_of_skills .skill .photo_cat {
  background-color: rgba(51, 0, 109, 0.44);
  width: 100%;
  height: 303px;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 40%, 0% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 40%, 0% 100%, 0% 70%);
}

.skills_pane .line_of_skills .skill .photo_cat p {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Open Sans";
  letter-spacing: 8px;
  text-transform: uppercase;
  position: relative;
  top: -80px;
  left: -40px;
  user-select: none;
  font-size: 120px;
  color: white;
  font-family: "Open Sans";
  letter-spacing: 8px;
  line-height: .85em;
  text-shadow: 2px 7px #4b4b4b;
  font-weight: 1000;
  -webkit-text-decoration-color: yellowgreen;
          text-decoration-color: yellowgreen;
  text-align: center;
  -webkit-transform: rotateZ(-24deg);
          transform: rotateZ(-24deg);
  text-shadow: 0px 0px 0 #ebebeb, 1px 1px 0 #e2e2e2, 2px 2px 0 #d8d8d8, 3px 3px 0 #cecece, 4px 4px 0 #c5c5c5, 5px 5px 0 #bbbbbb, 6px 6px 0 #b1b1b1, 7px 7px 0 #a8a8a8, 8px 8px 0 #9e9e9e, 9px 9px 0 #949494, 10px 10px 9px rgba(0, 0, 0, 0.6), 10px 10px 1px rgba(0, 0, 0, 0.5), 0px 0px 9px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.skills_pane .line_of_skills .skill .photo_cat p:hover {
  -webkit-transform: translateX(-70px) translateY(30px) rotateZ(-24deg);
          transform: translateX(-70px) translateY(30px) rotateZ(-24deg);
}

.skills_pane .line_of_skills .skill .photo_cat p .show {
  background-color: orangered;
  color: orange;
}

.skills_pane .line_of_skills .skill .info_cat {
  height: 90px;
  width: 100%;
  background-color: #531bad;
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 70%);
          clip-path: polygon(0% 50%, 100% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 70%);
}

.skills_pane .line_of_skills .skill .info_cat .bar_progres {
  -webkit-box-shadow: 10px 10px 7px #230044;
          box-shadow: 10px 10px 7px #230044;
  height: 200px;
  background-color: #7926ff;
}

.skills_pane .line_of_skills .skill .info_cat h1 {
  letter-spacing: 0px;
  font-family: "Open Sans";
  background-color: rgba(128, 128, 128, 0);
  line-height: 45px;
  position: relative;
  width: 350px;
  height: 10px;
  text-indent: 10px;
  left: -10px;
  -webkit-transform: rotateZ(-6deg);
          transform: rotateZ(-6deg);
  top: 25px;
  font-size: 40px;
  color: white;
}

.skills_pane .block_icons {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  width: 15vw;
  height: 100%;
  z-index: 2;
}

.skills_pane .block_icons .block_cat {
  display: inline-block;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  height: 85%;
  border-bottom-left-radius: 20px;
}

.skills_pane .block_icons .block_cat p {
  position: relative;
  width: 100%;
  max-height: 10%;
  color: white;
  text-indent: 5px;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 22px;
  font-family: "Open Sans";
  letter-spacing: 4px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.skills_pane .block_icons .block_cat p:hover {
  color: #8c00ff;
  background-color: #202020;
}

.skills_pane .block_icons .top {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: black;
  border-top-left-radius: 20px;
}

.skills_pane .block_icons .pattern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  width: 100%;
  height: 110px;
}

.skills_pane .block_icons .pattern .percent {
  z-index: 7;
  background-color: black;
  margin: auto auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.skills_pane .block_icons .pattern .percent h1 {
  text-align: center;
  color: white;
  font-size: 18px;
}

.description_skill {
  width: 80%;
  height: 85%;
  z-index: 0;
  position: fixed;
  margin-left: 100px;
  margin-top: 110px;
  background-color: rgba(0, 0, 0, 0.418);
  -webkit-transition-duration: .9s;
          transition-duration: .9s;
}
/*# sourceMappingURL=skills.css.map */